{% extends 'webApp/base.html' %}

{% load crispy_forms_tags %}


{% block content %}

   <body>
        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Create a Record </h3>
            <h6>Let's Create a new Record!</h6>

            <hr>
            <br>

            <form method="POST" autocomplete="off" >

                <!-- # this token is mandetory for posting the form  -->
                {% csrf_token %}

                <!-- this form is equal to the form written in views function -->
                {{form|crispy}}

                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Create Record &nbsp; <i class="fa fa-user" aria-hidden="true"></i> </button>


            </form>
        </div>
   </body>
{% endblock %}


